/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 20px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  margin-top:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border-top: solid red 2px; */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}



.logo-container {
  max-width: 100px;
  width: 40%;
  text-align: center;
  margin-bottom: 50px;
}

.icon-container {
  max-width: 150px;
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.workflow > div > img {
  width: 50%;
max-width: 200px;
} 
.logos > img {
  width: 70%;
  max-width: 150px;
  margin: 25px auto;
} 

div > h1, h2, h3, p {
  margin: 15px auto;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  opacity: 0.8;
}

h2, h3 {
  font-weight: 400;
  opacity: 0.8;
}

p {
font-size: 0.8em;
opacity: 0.6;
max-width: 500px;
}

button {
  width: 80%;
  max-width: 200px;
  margin: 5px 0;
  color: white;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
  border-bottom: 3px solid;
  cursor: pointer;
}
button:focus {
  outline:none;
}
button:active {
  border: none;
}

.mac-button {
  background-color:hsla(233, 100%, 69%, 0.952);
  border-bottom-color: hsla(233, 70%, 52%, 0.959);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px hsla(233, 100%, 69%, 0.952);
  /* background-color:hsl(201, 11%, 66%); */
}

.ios-button {
background-color: hsl(171, 66%, 44%);
border-bottom-color: hsl(171, 69%, 36%);
color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px hsl(171, 66%, 44%);
/* background-color: hsl(171, 66%, 44%); */
}

img {
  width: 100%;
}

.links {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 20vh;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.computer {
  width: 90%;
  margin: 25px 0;
}


.social-icon {
  width: 25px;
}

.tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tools > .icon-container > img {
  width: 80px;
}
.tools-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clips {
  margin: 25px 0;
  display: flex;
  flex-direction: column ;
  align-items: center;
}
@media screen and (min-width: 600px) {
  button {
    margin-right: 10px;
    margin-left: 10px;
  }

  .cositas  {
    display: flex;
    flex-direction: column; 
  }

  .cositas > p {
    margin-left:0;
    margin-top: 5px;
    text-align: left;
    max-width: 300px;
  }

  .cositas > h3 {
    margin-bottom: 5px;
    margin-left:0;
    text-align: left;
  }
  .button-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
   }

   .computer {
     margin-top: 40px;
     display:flex;
     justify-content: space-evenly;
   }

   .computer > .img-container {
    display: flex;
    align-items: center;
   }
   .computer > .img-container > img {
    position: relative;
    right: 25%;

   }
   .tools-section {
     width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: center;
   }
   
   .tools {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
   }

   .logos  {
     width: 80%;
     display: flex;
     justify-content: space-evenly;
     flex-direction: row;
   }

   .links > a {
     width: 200px;
     margin:  5px 5px;
     align-self: center;
     opacity: 0.7;
   }

   .links {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
   }
    .logos > img {
      max-width: 100px;
    }

  

  .clips {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .clips > img {
    width: 80px;
  }

  .clips > .social {
    min-width: 100px;
    display: flex;
    justify-content: space-between;
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/*# sourceMappingURL=styles.css.map */


